body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
}

h1, h2 {
  color: #1E2A38;
}

button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
